/* updated fonts from Google Fonts API */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #38424d;
  color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#banner {
  background-color: #034442;
  color: white;
  text-align: center;
  padding: 10px;
  display: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/*Banner Styling */
#banner h1 {
  font-size: 2em;
  margin: 0;
}

#banner p {
  font-size: 1.5em;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1f4d;
  /* Darker blue */
}

#menu {
  display: none;
  list-style: none;
  padding: 0;
}

#menu li {
  padding: 10px;
  margin: 0;
}

#menu li a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 20px 10px;
  overflow: auto;
}

/* Discover page styles start */

.city-visit-info {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 1px;
  height: 285px;
  width: auto;
  gap: 1px;
  align-items: center;
  color: antiquewhite;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: #43505d;
  margin: 2vw;
  box-shadow: 0 0 5px rgb(244, 248, 3);
}

.visit {
  height: 100%;
  width: auto;
  color: antiquewhite;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: #43505d;
  margin: 2vw;
  box-shadow: 0 0 5px rgb(244, 248, 3);
}

#visitTime {
  color: antiquewhite;
  background-color: #43505d;
  border: transparent;
  width: 80%;
  height: 285px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: -50px;
}

.gallery {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: stretch;
  background-color: #43505d;
  border: 1px solid #43505d;
}

.gallery-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: antiquewhite;
  position: relative;
  background-color: #43505d;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Discover page styles ends */

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Hero Styles */
.hero {
  grid-column: 1 / span 2;
  height: 100%;
}

div {
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 150px;
  background-color: #eee;
  margin: 2vw;
}

section {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #eee;
  margin: 2vw;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

div p {
  margin-left: 2vw;
}

.weather p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: antiquewhite;
}

footer {
  text-align: center;
  background-color: rgb(45, 45, 45);
  /* Gray background */
  padding: 20px 0;
}

nav {
  display: block;
  background-color: #222963;
  width: auto;
}

#windChill {
  font-weight: bold;
  color: red;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5em;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
}

.hero,
.news,
.event,
.weather,
.join,
.spotlight1,
.spotlight2,
.spotlight3 {
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: #43505d;
  margin: 2vw;
  box-shadow: 0 0 5px rgb(244, 248, 3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
