/* updated fonts from Google Fonts API */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #38424d;
  color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#banner {
  background-color: #034442;
  color: white;
  text-align: center;
  padding: 10px;
  display: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/*Banner Styling */
#banner h1 {
  font-size: 2em;
  margin: 0;
}

#banner p {
  font-size: 1.5em;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1f4d;
  /* Darker blue */
}

#menu {
  display: none;
  list-style: none;
  padding: 0;
}

#menu li {
  padding: 10px;
  margin: 0;
}

#menu li a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 20px 10px;
  overflow: auto;
}

/* Discover page styles start */

.city-visit-info {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 1px;
  height: 285px;
  width: auto;
  gap: 1px;
  align-items: center;
  color: antiquewhite;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: #43505d;
  margin: 2vw;
  box-shadow: 0 0 5px rgb(244, 248, 3);
}

.visit {
  height: 100%;
  width: auto;
  color: antiquewhite;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: #43505d;
  margin: 2vw;
  box-shadow: 0 0 5px rgb(244, 248, 3);
}

#visitTime {
  color: antiquewhite;
  background-color: #43505d;
  border: transparent;
  width: 80%;
  height: 285px;
  display: flex;
  align-items: center;
  margin-top: -50px;
}

.gallery {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: stretch;
  background-color: #43505d;
  border: 1px solid #43505d;
}

.gallery-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: antiquewhite;
  position: relative;
  background-color: #43505d;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Discover page styles ends */

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Hero Styles */
.hero {
  grid-column: 1 / span 2;
  height: 100%;
}

div {
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 150px;
  background-color: #eee;
  margin: 2vw;
}

section {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #eee;
  margin: 2vw;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

div p {
  margin-left: 2vw;
}

.weather {
  height: auto;
  width: auto;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.weather p {
  margin: 0;
  padding: 0;
  font-size: 0.85rem;
  text-align: center;
  font-weight: bold;
  color: black;
}

.join a {
  color: antiquewhite;
}

.spotlight1 a {
  color: antiquewhite;
}

figure {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
}

footer {
  text-align: center;
  background-color: rgb(45, 45, 45);
  /* Gray background */
  padding: 20px 0;
}

nav {
  display: block;
  background-color: #222963;
  width: auto;
}

#windChill {
  font-weight: bold;
  color: red;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5em;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
}

.hero,
.news,
.event,
.weather,
.join,
.spotlight1,
.spotlight2,
.spotlight3 {
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: #43505d;
  margin: 2vw;
  box-shadow: 0 0 5px rgb(244, 248, 3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

/* Join page styles start */

form {
  grid-column: 1;
  grid-row: 1;
  text-align: left;
}

label {
    font-weight: bold;
    font-size: 1.2em;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: blue;
    color: antiquewhite;
    padding: 10px;
    border: none;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: lightgrey;
}

/* Join page styles end */

/* thankyou page styles start */

.Thanks-join {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  
}

.Thanks-join p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(193, 39, 39);
  
}

/* thankyou page styles end */

/* Directory page styles start */

.directory {

  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  color: black;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: #43505d;
  margin: 2vw;
  box-shadow: 0 0 5px rgb(244, 248, 3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.directory section {

    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    width: 75%;
    height: fit-content;

}

.directory img {
  width: 50%;
  height: fit-content;
}

/* Directory page styles end */

/* base.css additions for list view of directoy */

/* List view */
.directory.list {
  grid-template-columns: 1fr;
  row-gap: 1px;
}

.directory.list section {
  width: 100%;
  margin: 0%;
  padding: 0%;
  line-height: 0.7;
  gap: 0px;
  background-color: #43505d;
  color: antiquewhite;
  border: none;
  text-align: center;
}

#directory.list img {
  display: none;
}

#directory.list a {
  color:lightblue;
}

/* contact page styles start */

#mainContactSectionPage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  color: black;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: #43505d;
  box-shadow: 0 0 5px rgb(244, 248, 3);
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  align-content: flex-start;
}

#googleMap {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: fit-content;
  
}

#visitUs {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  height: fit-content;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: darkgrey;
}

#contactSection {
  grid-column: 1;
  grid-row: 3;
  align-content: flex-start;
  border: #43505d;
  background-color: #43505d;
  color: antiquewhite;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contactForm {
  gap: 5px; 
  padding-top: 1px;
  padding-bottom: 10px;
  height: 100%;
}




form {
  display: grid;
  flex-direction: column;
  gap: 0;
}

input,
textarea {
  padding: 10px;
  box-sizing: border-box;
  
}

input[type="submit"] {
  background-color: blue;
  color: white;
  cursor: pointer;
  align-self: center;
}

#googleMap iframe {
  width: 100%;
  height: 300px;
  border: none;
}

#visitUs ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* contact page styles end */
