/* Medium screen styles */

/* Menu Styles */
#menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu li {
  margin: 0 10px;
}

#menu li a {
  color: white;
  text-decoration: none;
  transition: font-size 0.2s, transform 0.2s;
}

#menu li a:hover {
  color: black;
  font-size: 1.5em;
  text-shadow: 0 0 4px yellow;
  transform: translateY(-2px);
}

/* Hamburger Menu Styles */
#menuBtn {
  display: none; /* por si lo olvido este HIDE del menu del mcdonalds para pantallas grandes */
}

/* Hero Styles */
.hero {
  grid-column: 1 / span 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* News Styles */
.news {
  grid-column: 1 / span 2;
  grid-row: 2;
}

/* Spotlight Styles */
.spotlight1 {
  grid-column: 1;
  grid-row: 3;
}

.spotlight2 {
  grid-column: 2;
  grid-row: 3;
}

.spotlight3 {
  grid-column: 1 / span 2;
  grid-row: 4;
}

/* Join Styles */
.join {
  grid-column: 1 / span 2;
  grid-row: 5;
}

/* Event and Weather Styles */
.event {
  grid-column: 1;
  grid-row: 6;
}

.weather {
  grid-column: 2;
  grid-row: 6;
}

/* Section Styles */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 10px;
}

.hero,
.news,
.event,
.weather,
.join,
.spotlight1,
.spotlight2,
.spotlight3 {
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: #43505d;
  margin: 2vw;
  box-shadow: 0 0 5px rgb(244, 248, 3);
  color: antiquewhite;
}

div p {
  margin-left: 10px;
}

/* Footer Styles */
footer {
  padding: 30px 0;
}
